/* Site-specific styles
   Launched:
   Author:
   ----------------------------------------------------*/
   .logo{
     width: 130px;
     height: 70px;
   }
/* Google Calendar Responsive Adjustment */
.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



   /*.text-overlay{ }*/
   /* The Overlay (background) */
   .modal {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
     opacity: 0;
     visibility: hidden;
     transform: scale(1.1);
     transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
 }
 .modal-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: white;
     padding: 1rem 1.5rem;
     width: 24rem;
     border-radius: 0.5rem;
 }
 .close-button {
     float: right;
     width: 1.5rem;
     line-height: 1.5rem;
     text-align: center;
     cursor: pointer;
     border-radius: 0.25rem;
     background-color: lightgray;
 }
 .close-button:hover {
     background-color: darkgray;
 }
 .show-modal {
     opacity: 1;
     visibility: visible;
     transform: scale(1.0);
     transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
 }

#myImage {
  width: 30%;
  height: auto;
  left: 0px;
  right: 0px;
}



@media only screen {


}

@media only screen and (min-width:5em) {
  .text-block {
   position: absolute;
   bottom: 1423px; /*1435*/
   right: 75px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
 }
 h1 {
   font-size: 20px;
 }

}
/* 480px (small)
----------------------------------------------------*/
@media only screen and (min-width:30em) {
  .text-block {
   position: absolute;
   bottom: 1300px;
   right: 210px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   width: auto;
 }
 h1 {
   font-size: 22px;
 }
}

/* 768px (medium)
----------------------------------------------------*/
@media only screen and (min-width:48em) {
  .text-block {
   position: absolute;
   bottom: 700px;
   right: 400px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   width: auto;
 }
 h1 {
   font-size: 34px;
 }
}

/* 960px (large)
----------------------------------------------------*/
@media only screen and (min-width:60em) {
  .text-block {
   position: absolute;
   bottom: 20px;
   right: 700px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 30px;
   width: auto;
 }
 h1 {
    font-size: 34px;
  }

}

/* 1280px
----------------------------------------------------*/
@media only screen and (min-width:80em) {
  .text-block {
   position: absolute;
   bottom: 20px;
   right: 750px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   width: auto;
 }
 h1 {
   font-size: 50px;
 }
}

/* 1600px (x-large)
----------------------------------------------------*/
@media only screen and (min-width:100em) {
  .text-block {
   position: absolute;
   bottom: 20px;
   right: 750px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   width: auto;
 }
 h1 {
   font-size: 50px;
 }
}

/* 1920px
----------------------------------------------------*/
@media only screen and (min-width:120em) {
  .text-block {
   position: absolute;
   bottom: 20px;
   right: 750px;
   background: #0c2340;
   opacity: 80%;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   width: auto;
 }
 h1 {
   font-size: 50px;
 }
}

/* Print
----------------------------------------------------*/
@media print {

}
