/* Site-specific styles
   Launched:
   Author:
   ----------------------------------------------------*/
   @keyframes dialogEnter {
   from {  opacity:0; transform:translate3d(0, -1em, 0); }
   to { opacity:1; transform:translate3d(0, 0, 0); }
   }

   @keyframes dialogShow {
   from {opacity:0;}
   to {opacity:1;}
   }

   /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-left: 30px;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    color: #ffffff;
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #ffffff;
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 150px;
    right: 15px;
    font-size: 60px;
  }

#myImage {
  width: 30%;
  height: auto;
  left: 0px;
  right: 0px;
}

#overlay {
 position: fixed; /* Sit on top of the page content */
 display: none; /* Hidden by default */
 width: 100%; /* Full width (cover the whole page) */
 height: 100%; /* Full height (cover the whole page) */
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0,0.5); /* Black background with opacity */
 z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
 cursor: pointer; /* Add a pointer on hover */
}

@media only screen {

}

/* 480px (small)
----------------------------------------------------*/
@media only screen and (min-width:30em) {

}

/* 768px (medium)
----------------------------------------------------*/
@media only screen and (min-width:48em) {

}

/* 960px (large)
----------------------------------------------------*/
@media only screen and (min-width:60em) {

}

/* 1280px
----------------------------------------------------*/
@media only screen and (min-width:80em) {

}

/* 1600px (x-large)
----------------------------------------------------*/
@media only screen and (min-width:100em) {

}

/* 1920px
----------------------------------------------------*/
@media only screen and (min-width:120em) {

}

/* Print
----------------------------------------------------*/
@media print {

}
