/* Site-specific styles
   Launched:
   Author:
   ----------------------------------------------------*/
   .logo{
     width: 130px;
     height: 70px;
   }
/* Google Calendar Responsive Adjustment */
.calendar-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}



#myImage {
  width: 80%;
  height: 58%;
  left: 0px;
  right: 0px;
}



@media only screen {
  .site-title a { height:1.325em; text-indent:-9999px; overflow:hidden; background:url(images/logo.png) left center / contain no-repeat; }

  .page-image { margin-bottom:2rem; }
    .page-image::after { content:''; display:block; position:absolute; top:0; bottom:0; left:0; right:0; background:url('') bottom center / contain no-repeat; }


}

/* 480px
----------------------------------------------------*/
@media only screen and (min-width:10em) {
.page-header .page-title span {color:#0c2340; padding:1rem 3rem;  display:inline-block; }
}

/* 768px
----------------------------------------------------*/
@media only screen and (min-width:48em) {
  .page-image { margin-bottom:0; position:relative; }
  .page-header .page-title span {color:white; background:#0c2340; padding:1rem 3rem; opacity: 80%; display:inline-block; }
  .home .page-header { position:relative; }
  .home .page-title { position:absolute; left:5vw; bottom:3rem; }
  .home .page-title::after { display:none; }
  /*.page-title span::after { content: ''; display: block; width: 50px; height: 4px; margin: 0.2em 0 0.2em -0.2em; background-color: var(--brand-gold); }*/
  .site-title-group { margin-bottom:1px; }


}

/* 960px
----------------------------------------------------*/
@media only screen and (min-width:60em) {
  .home .page-header.has-image::before { grid-row-end:header-end; margin-bottom:var(--padding-bottom); }
  .nav-top-true .page-header.has-image { --image-width:3fr; }
  .page-header .page-title { grid-column:title-start/image-end; grid-row:lede; margin-bottom:2rem; }
  .page-image.full { max-height:93vh; }
  .home .page-title { position:inherit; left:unset; bottom:unset; }
  /*.page-title span::after { margin-left: -0.5em; margin-top: 0.2em; margin-bottom: 0.7em; width: 1.5em; height: 0.1em; min-height: 5px; }*/
}

/* 1280px
----------------------------------------------------*/
@media only screen and (min-width:80em) {

}

/* 1600px
----------------------------------------------------*/
@media only screen and (min-width:100em) {

}

/* 1920px
----------------------------------------------------*/
@media only screen and (min-width:120em) {

}

/* Print
----------------------------------------------------*/
@media print {

}
